<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".app_search_goodsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>